body{
    text-align: center;
    background-color: #76A2F4;
    color: #f8f9fa;
}
nav{
    background-color: #1761EC;
    margin-bottom: 20px;
}
nav a{
    font-weight: 600;
}
                                                                                                                               
ul{
    list-style-position: inside;
}
a{
    color: rgba(0, 102, 219, 0.9);
}
.source{
   color:#cbdff4 !important; 
}
a:hover{
    color: #0066DB;
}
img{
    margin: 20px 10px 0px 10px;
    outline: solid black;
}
.longimg{
    max-width: 60%;
    height: auto;
}
.tallimg{
    max-height: 60%;
    width: auto;
    float: left;
}
p{
    margin: 0 8vw;
    font-size: 20;
}
.navbar-brand{
    font-size: 36; 
    font-weight: 400;
}
.center {
    text-align: center;
}
.center ul {
    display: inline-block;
    margin: 0;

}
.center li {
    padding: 2px 5px;
    text-align:left;
}
@media screen and (min-device-width: 768px) { 
    .navbar-brand{
        font-size: 7vw !important;
    }
    .navbar-toggler{
        padding: 0;
    }
    p{
        font-size: 4vw;
    }
    h1{
        font-size: 6.5vw;
    }
    big{
        float: none;
        margin: 20px auto 10px auto !important;
    } 
  }