body{
    text-align: center;
    background-color: #76A2F4;
    color: #f8f9fa;
}
nav{
    background-color: #1761EC;
    margin-bottom: 20px;
}
nav a{
    font-weight: 600;
}
                                                                                                                               
ul{
    list-style-position: inside;
}
a{
    color: rgba(0, 102, 219, 0.9);
}
a:hover{
    color: #0066DB;
}

img{
    max-width: 60%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}
p{
    margin: 0 8vw;
}
.navbar-brand{
    font-size: 36; 
    font-weight: 400;
}
@media screen and (max-device-width: 767px) { 
    .navbar-brand{
        font-size: 7vw !important;
    }
  }